<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chen.mapper.SectionMapper">
    <select id="getSectionsList" resultType="section">
        select * from section;
    </select>

    <insert id="addSection" parameterType="section">
        insert into fitness.section (section_name) values (#{sectionName});
    </insert>

    <update id="updateSection" parameterType="section">
        update section set fitness.section.section_name = #{sectionName} where section_id = #{sectionId};
    </update>

    <delete id="deleteById">
        delete from section where section_id = #{sectionId}
    </delete>

    <select id="getCountNums" resultType="int">
        select count(*) from section;
    </select>

    <select id="getSectionByLimit" resultType="section">
        select * from section limit #{page},#{limit}
    </select>

    <select id="getSectionById" resultType="section">
        select * from section where section_id= #{sectionId}
    </select>
</mapper>